---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CHowell.Dev">
  <main>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum reprehenderit recusandae tenetur aliquam error
      rem perferendis, natus est facere totam beatae eum temporibus sapiente libero sunt officia earum sint
      perspiciatis.
    </p>
  </main>
</Layout>
