---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/blogCard.astro";
import type { MarkdownContent } from "astro";
const posts = await getCollection("blog");
---

<Layout title="CHowell.Dev">
  <main>
    <h1>Blog</h1>
    <div>
      {
        posts.map((post) => (
          <Card
            slug={post.slug}
            title={post.id}
            description=""
          />
        ))
      }
    </div>
  </main>
</Layout>
