---
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob("../content/blog/*.md");
---

<Layout title="CHowell.Dev">
  <main>
    <h1>Blog</h1>
    <ul>
      {
        posts.map((p) => (
          <li>
            <a href={p.frontmatter.url}>{p.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
