---
import Layout from "../layouts/Layout.astro";
import Selfie from "../../../photos/chowell.jpeg";
// import Screenshot from "../../../photos/screenshot.png";
import Card from "../components/Card.astro";
---

<Layout title="CHowell.Dev">
  <!-- <img src={Screenshot} alt="Screenshot of the IDE" class="screenshot" /> -->
 <main>
    <h2 class="name">Christian C. Howell</h2>
    <p class="positon">Full Stack Developer</p>
    <div class="imageandcards">
      <img src={Selfie} alt="Image of Christian C. Howell" class="selfie" />
      <div class="cards">
        <Card title="Projects" body="Check out some of my personal works"></Card>
        <Card title="Projects" body="Check out some of my personal works"></Card>
        <Card title="Projects" body="Check out some of my personal works"></Card>
        <Card title="Projects" body="Check out some of my personal works"></Card>
        <Card title="Projects" body="Check out some of my personal works"></Card>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1.5rem;
    max-width: 85vw;
    z-index: 100000;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .name {
    margin: auto;
    margin-top: 2.5rem;
    font-size: 3rem;
    font-weight: 800;
  }
  .positon {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 50%;
  }

  .imageandcards{
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    align-items: center;
  }
  .cards{
    flex-flow:column;
  }
  .selfie {
    min-height: 15rem;
    min-width: 15rem;
    height: 20%;
    width: 20%;
    border-radius: 25%;
  }
  @media (max-width: 800px) {
    .screenshot {
      display: none;
    }
  }

  @media (max-height: 700px) {
    .screenshot {
      display: none;
    }
  }
  .screenshot {
   
    position: absolute;
    bottom: auto;
    min-height: 15rem;
    min-width: 15rem;
    height: 50%;
    width: 50%;
    right:0px;
    bottom:0px;
    filter: blur(3.5px);
  }
</style>
