---
import Layout from "../layouts/Layout.astro";
import Selfie from "../../../photos/chowell.jpeg";
import Card from "../components/Card.astro";
import toast from "../../../images/pixel_developer.png";
import ferris from "../../icons/ferris.svg";
import astro from "../../icons/Astro.svg";
---

<Layout title="CHowell.Dev">
  <main>
    <div class="imageandtitle">
      <div class="nameandjob">
        <h2 class="name">Christian C. Howell</h2>
        <p class="job-title">Software Developer</p>
      </div>
      <img
        src={toast}
        alt="Image of Christian C. Howell"
        class="representation"
      />
    </div>
    <div class="experienceandprojects">
      <div class="resume">
        <h3>Skills</h3>
        <ul>
          <li>Source Control</li>
          <li>CI/CD</li>
          <li>Infrastructure as Code</li>
          <li>Go</li>
          <li>Rust</li>
          <li>Powershell</li>
        </ul>
        <h3>Experience</h3>
        <ul>
          <li>2+ Years Software Development at First Orion</li>
          <li>2 Years IT support at University of Arkansas Community College at Morrilton</li>
        </ul>
        <h3>Education</h3>
        <ul>
          <li>Apprenticeship focused in software development hosted by First Orion</li>
          <li>
            AS in Computer Information Systems and Technology from University of Arkansas Community College at Morrilton
          </li>
        </ul>
      </div>

      <div class="projects">
        <h3>Projects</h3>
        <Card
          title="chowell.dev"
          body="This very site. A static site built with Astro."
          href="https://github.com/CyTechNomad/chowell.dev"
          src={astro}
          alt="Astro logo"
        />
        <Card
          title="RolleR"
          body="A simple, yet powerful, dice roller in your terminal written in Rust."
          href="https://github.com/CyTechNomad/RolleR"
          src={ferris}
          alt="Unofficial Rust mascot, Ferris the crab."
        />
      </div>
    </div>
  </main>
</Layout>

<style scoped>
  main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1.5rem;
    max-width: 70vw;
    z-index: 100000;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .imageandtitle {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    gap: 2.5rem;
    .nameandjob {
      display: flex;
      flex-flow: column;
      text-align: right;
      align-self: center;
      justify-content: center;
      .name {
        margin: auto;
        margin-top: 2.5rem;
        font-size: 3rem;
        font-weight: 750;
      }
      .job-title {
        font-size: 1.5rem;
        font-weight: 400;
        align-self: right;
        color: white;
      }
    }
    .representation {
      max-width: 25vw;
    }
  }

  .experienceandprojects {
    display: flex;
    flex-flow: row;
    gap: 2.5rem;
    padding: 2.5rem;
    justify-content: space-between;

    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      margin-top: 0.5rem;
      margin-bottom: 0rem;
    }
    .resume {
      display: flex;
      flex-flow: column;
      ul {
        margin-left: 1rem;
        padding: 0;
      }
      li {
        margin-bottom: 0.25rem;
      }
    }
    .projects {
      flex-flow: column;
    }
  }

  @media (max-width: 800px) {
    .imageandtitle {
      padding: 0;
      gap: 0;
      .nameandjob {
        text-align: center;
        .name {
          font-size: 2rem;
        }
        .job-title {
          font-size: 1.25rem;
        }
      }
      .representation {
        display: none;
      }
    }
    .experienceandprojects {
      flex-flow: column;
      padding: 0;
    }
  }
</style>
